extends layout

block content
  h1= account.Name
  h2= account.Id
  div
    p Account Name: #{account.Name}
    p Sales Rep:  
      select
        each salesRep in salesReps
          option= salesRep.Name
      
    p Items: 
      select
        each product in products
          option= product.Name

    p 
      form
        | Revenue Amount($): 
        input(type='number', name='revenueamount')

    p 
      form
        | GM Amount($): 
        input(type='number', name='gmamount')
      
    p 
      form
        | Booked Date: 
        input(type='date', name ='bookeddate')

    p 
      form
        | Any Notes?: 
        input(type='text', name='anynotes')
       
    p 
      form
        | Job Number?: 
        input(type='text', name='jobnumber')
       
    p 
      form
        | Intacct Invoice Number?: 
        input(type='text', name='intacctinovicenumber')
  div
    input(type= 'submit', value='Create Opportunity')
       
        